// = Variables del Home Menu D21
// ============================================================================
$o-home-menu-font-size-base: 1rem;
$o-home-menu-container-size: 850px;
$o-home-menu-app-icon-max-width: 70px;
$o-home-menu-app-icon-padding: 10px;
$o-home-menu-app-icon-background-color: rgba(#fff, 1);

$o-home-menu-caption-color: $o-main-text-color !default;
$o-home-menu-caption-shadow: none !default;
